{% extends 'users/base.html'%}
{% block content %}
<form class="login" method="POST" action="" >
    {% csrf_token %}
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12 pd-10">
                <legend>
                    Login
                </legend>
                    <div class="form-group">
                        <p class="form-control-label">Username
		                    <input class="form-control" type="text" name="username"/>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="form-control-label">Password
		                    <input class="form-control" type="password" name="password"/>
                        </p>
                    </div>
                    <div>
                        <button class="btn btn-success btn-block" type="submit">Login</button>
                    </div>
                    <div class="signup">
                        <p>Don't have an account?</p>
                        <span>SignUp as <a href="{% url 'create_student_user'%}">Student</a> or as <a href="{% url 'create_teacher_user'%}">Teacher</a></span>
                    </div>
                    <div class="text-center">
                        <p>Or</p>
                    </div>
                    <div>
                        <a class="btn btn-danger btn-block m-10" href="/admin">Log in as admin</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}