{% extends 'users/base.html' %}
{% block profile %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="#">Mini Social By Godspower Eze</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
            {% if user.is_authenticated %}
                <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Create Post</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>
{% endblock profile %}
{% block content %}
{% if user.is_authenticated and user.is_teacher %}
<div class="container">
<div class="profile row container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p><img class="rounded-circle" width="100%" src="{{ user.teachersprofile.teacher_image.url }}"></p>
    </div>
    <div class="col-md-4">
    </div>
</div>
</div>
<div class="profile-header container">
    <h4><u>Teachers Details</u></h4>
</div>
<div class="row details container">
    <div class="col-md-6">
        <div>
            <h5>First Name : <span class="details-inner">{{user.first_name}}</span></h5>
        </div>
        <div>
            <h5>Last Name : <span class="details-inner">{{user.last_name}}</span></h5>
        </div>
        <div>
            <h5>Email Address : <span class="details-inner">{{ user.email }}</span></h5>
        </div>
        <div>
            <h5>Username : <span class="details-inner">{{user.username}}</span></h5>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h5>Other Names : <span class="details-inner">{{user.teachersprofile.other_names}}</span></h5>
        </div>
        <div>
            <h5>Qualification : <span class="details-inner">{{user.teachersprofile.qualification}}</span></h5>
        </div>
        <div>
            <h5>Relationship: <span class="details-inner">{{user.teachersprofile.relationship}}</span></h5>
        </div>
    </div>
</div>
{% elif user.is_authenticated and user.is_student  %}
<div class="container">
<div class="profile row container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p><img class="rounded-circle" width="100%" src="{{ user.studentprofile.student_image.url }}"></p>
    </div>
    <div class="col-md-4">
    </div>
</div>
</div>
<div class="profile-header container">
    <h4><u>Student Details</u></h4>
</div>
<div class="row details container">
    <div class="col-md-6">
        <div>
            <h5>First Name : <span class="details-inner">{{user.first_name}}</span></h5>
        </div>
        <div>
            <h5>Last Name : <span class="details-inner">{{user.last_name}}</span></h5>
        </div>
        <div>
            <h5>Email Address : <span class="details-inner">{{ user.email }}</span></h5>
        </div>
        <div>
            <h5>Username : <span class="details-inner">{{user.username}}</span></h5>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h5>Other Names : <span class="details-inner">{{user.studentprofile.other_names}}</span></h5>
        </div>
        <div>
            <h5>Class : <span class="details-inner">{{user.studentprofile.my_class}}</span></h5>
        </div>
        <div>
            <h5>Guardians Name : <span class="details-inner">{{user.studentprofile.guardians_name}}</span></h5>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}